$bg-color:rgb(255, 95, 95);
$bg-color-forms: rgba(201, 201, 201, 0.5);
$form-width: 250px;
$form-height: 10vh;


.searchb {
    width: 300px;
    height: 2.5vh;
    background-color: $bg-color-forms

}

.usernameb, .passwordb {
    width: 180px;
    height: 2.25vh;
    background-color:$bg-color-forms

}
